{% load static %}
<html>
    <head>
        <title>DcPacky.Space Blog</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">

        <!-- Thanks <3 https://www.favicon-generator.org -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">

        <!-- Global site tag (gtag.js) - Google Analytics -->

        <!-- Here originally was the Google Analytics Link, feel free to add your own -->

        <!-- JS Content -->
        <!-- Will be outsourced in the future -->
        <script>
            $(document).ready(function(){
                //$('.sidenav').sidenav();
                $('.dropdown-trigger').dropdown();
                M.AutoInit();

                var cookie = getCookie("cookieconsent");
                if (!cookie) {
                    $('.modal').modal().show();
                    $('.modal').css('zIndex', 9999);
                }

                //Slider Interval
                setInterval(function() {
                    $('.carousel').carousel('next');
                }, 10000); // every 2 seconds

                if (getCookie('scrollPos') != "") {
                    $(window).scrollTop(getCookie('scrollPos'));
                }

                setTimeout(function() {
                    $('.sidenav').sidenav('close');
                }, 2000);
            });

            $(window).on('load', function() {
                handleSideNav();
            });

            $(window).resize(function() {
                handleHeader();
                setTimeout(function() {
                    $('.sidenav').sidenav('close');
                }, 2000);
            });

            $(window).scroll(function() {
                handleSideNav();
            });

            function handleHeader() {
                document.getElementById ("welcome-slider").style.Width = "100%";

                var height = Math.max($("#welcome-slider").height());
                $("#welcome-slider").height(height);
                $("#welcome-slider").height(height);
            }

            function sideNavCheck() {
                var a = document.body.scrollTop > $('#welcome-slider').innerHeight() - 375;
                var b = (document.documentElement.scrollTop > ($('#welcome-slider').innerHeight() - 375));
                var c = $('#welcome-slider').width() > 992;
                return (a || b && c);
            }

            function handleSideNav() {
                if (!checkMobileAndTablet() && (window.innerWidth > 992)) {
                    if (sideNavCheck()) {
                        $('.sidenav').sidenav('open');
                    } else {
                        $('.sidenav').sidenav('close');
                    }
                }
            }



            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires="+d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            function checkMobileAndTablet() {
                var check = false;
                (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
                return check;
            };
        </script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body onload="">
        <!-- Modal Structure -->
        <div id="cookie_modal" class="modal modal-fixed-footer">
            <div class="modal-content" style="background-color:#2a2a2a; color:white;">
                <h4 style="color:#039be5;">Privacy Policy</h4>
                <iframe style="height:100%;width:100%;" src="https://www.freeprivacypolicy.com/privacy/view/6fd0b46d71cca154a47e69e97f2f924b"></iframe>
            </div>
            <div class="modal-footer" style="background-color:#2a2a2a;">
                <a href="#" onclick="setCookie('cookieconsent', true, 365);window.location.href='/';" class="green modal-close waves-effect waves-green btn-flat">Agree</a>
                <a href="http://info.cern.ch/" class="red modal-close waves-effect waves-red btn-flat">Disagree</a>
            </div>
        </div>

        <!-- Full Screen Welcome Slider -->
        <div class="carousel carousel-slider section" id="welcome-slider" data-indicators="true" >
            <a class="carousel-item" href="#"><img src="{% static 'img/slider-img/lucas-benjamin-1140278-unsplash.jpg' %}"></a>
            <div class="carousel-fixed-item center">
                <h2 class="white-text">DcPacky.Space</h2>

                <p class="white-text">Short explaining sentence about this site</p>
                <div>
                    <a href="https://twitter.com/dcpacky" target="_blank"><img src="{% static 'img/social/icon_twitter.png' %}" width=100 height=100></a>
                    <a href="https://steamcommunity.com/id/dcpacky/" target="_blank"><img src="{% static 'img/social/icon_steam.png' %}" width=100 height=100></a>
                    <a href="https://gitlab.com/dcpacky" target="_blank"><img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-stacked-rgb.png" width=100 height=100></a>
                    <a href="https://www.twitch.tv/dcpacky" target="_blank"><img src="{% static 'img/social/icon_twitch.png' %}" width=100 height=100></a>
                    <a href="https://www.youtube.com/channel/UCLfJYSdbaEHDsWp_6Hs0ezQ" target="_blank"><img src="{% static 'img/social/icon_youtube.png' %}" width=100 height=100></a>
                    <a href="https://discord.gg/EdBbkDF" target="_blank"><img src="{% static 'img/social/icon_discord.png' %}" width=100 height=100></a>
                </div>
                <p></p>
                <sub class="small" style="color:white;">Scroll down for more </br>
                <i class="material-icons">keyboard_arrow_down</i></sub>
                <p></p>
                <br/>
            </div>
            <a class="carousel-item" href="#"><img src="{% static 'img/slider-img/aron-van-de-pol-115112-unsplash.jpg' %}"></a>
            <a class="carousel-item" href="#"><img src="{% static 'img/slider-img/mario-mesaglio-1196671-unsplash.jpg' %}"></a>
        </div>

        <!-- Navbar on top, was used before the header and will probably removed in the future -->
        <!--
        <nav>
            <a href="#" class="sidenav-trigger" href="#" data-target="slide-out" onclick="M.Siden" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <div class="nav-wrapper">
                <ul class="right hide-on-med-and-down">
                    !--NO SEARCH IMPLEMENTED YET <li><a href="sass.html"><i class="material-icons">search</i></a></li>--
                    <li>
                        <a href="#" data-target="dropdown-navbar-top" onclick="M.Siden" class="dropdown-trigger"><i class="material-icons">more_vert</i></a>
                        <ul id='dropdown-navbar-top' class='dropdown-content'>
                            
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i>Logout</a></li>  
                            {% else %}
                                <li><a href="{% url 'login' %}"><i class="material-icons">exit_to_app</i>Login</a></li>    
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        -->

        <!-- Left Sidebar -->
        <header>
            <div id="nav" class="">
                <ul id="slide-out" class="sidenav sidenav-fixed">
                    <div style="padding-top:50px" class="center-align">
                        <a href="/" class="brand-logo"><h4><i class="material-icons">cloud</i> DcPacky.Space</h4></a>
                        {% if user.is_authenticated %}
                            <li>
                                <div class="user-view">
                                    <a href="#name"><span class="white-text name"><b>Welcome {{ request.user.username }}</b></span></a>
                                    <a href="#email"><span class="white-text email"><b>{{ request.user.email }}</b></span></a>
                                </div>
                            </li>
                        {% else %}
                            <br/>

                        {% endif %}
                        <li class="divider blue-grey" tabindex="-1"></li>
                    </div>
                    <li><a href="{% url 'post_list' %}" class="sidebar-links" onclick="setCookie('scrollPos', $(window).scrollTop(), 1);"><i class="material-icons">home</i>Home</a></li>
                    
                    <li><a href="{% url 'programming' %}" class="sidebar-links" onclick="setCookie('scrollPos', $(window).scrollTop(), 1);"><i class="material-icons">code</i>Programming Stuff</a></li>

                    <li><a href="{% url 'twitter' %}" class="sidebar-links" onclick="setCookie('scrollPos', $(window).scrollTop(), 1);"><i class="material-icons">share</i>Twitter</a></li>

                    <li class="divider blue-grey" tabindex="-1"></li>
                    
                    <!--NO SEARCH IMPLEMENTED YET <li><a href="sass.html class="sidebar-links"><i class="material-icons">search</i>Search</a></li> -->
                    <p></p>
                    <span class="valign-wrapper center-align">
                        <a href="https://twitter.com/dcpacky" target="_blank"><img src="{% static 'img/social/icon_twitter.png' %}" width=43 height=40></a>
                        <a style="margin-left:.5em;" href="https://steamcommunity.com/id/dcpacky/" target="_blank"><img src="{% static 'img/social/icon_steam.png' %}" width=43 height=40></a>
                        <a style="margin-left:.5em;" href="https://gitlab.com/dcpacky" target="_blank"><img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-stacked-rgb.png" width=43 height=40></a>
                        <a style="margin-left:.5em;" href="https://www.twitch.tv/dcpacky" target="_blank"><img src="{% static 'img/social/icon_twitch.png' %}" width=43 height=40></a>
                        <a style="margin-left:.5em;" href="https://www.youtube.com/channel/UCLfJYSdbaEHDsWp_6Hs0ezQ" target="_blank"><img src="{% static 'img/social/icon_youtube.png' %}" width=43 height=40></a>
                        <a style="margin-left:.5em;" href="https://discord.gg/EdBbkDF" target="_blank"><img src="{% static 'img/social/icon_discord.png' %}" width=43 height=40></a>
                    </span>
                    <p></p>
                    <li class="divider blue-grey" tabindex="-1"></li>

                    <li>
                        <a href="#"  data-target="dropdown-navbar" onclick="M.Siden" class="dropdown-trigger sidebar-links"><i class="material-icons">more_vert</i>More</a>
                        <ul id='dropdown-navbar' class='dropdown-content'>
                            
                            {% if user.is_authenticated %}
                                <li><a onclick="setCookie('scrollPos', $(window).scrollTop(), 1);" href="/cpanel"><i class="material-icons">power_settings_new</i>Admin</a></li>
                                <li><a onclick="setCookie('scrollPos', $(window).scrollTop(), 1);" href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i>Logout</a></li>
                            {% else %}
                                <li><a onclick="setCookie('scrollPos', $(window).scrollTop(), 1);" href="{% url 'login' %}"><i class="material-icons">exit_to_app</i>Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </header>

        <main>
            <div id="content section">
                {% block content %}
                {% endblock %}
                <div>
                </div>
            </div>
        </main>

        <footer class="page-footer section" style="margin-top:300px;">
          <div class="container">
              <li class="divider blue-grey" tabindex="-1"></li>
            <div class="row">
              <div class="col 10 l5 s5">
                  <p></p>
                <iframe src="https://discordapp.com/widget?id=326771084148080640&theme=dark" height="500" allowtransparency="true" frameborder="0"></iframe>
              </div>
              <div class="col 10 l5 offset-l2 offset-s5 s5">
                <h5 class="">Links</h5>
                <ul>
                    <li><a href="{% url 'post_list' %}">Home</a></li>
                    <li><a href="{% url 'programming' %}">Programming Stuff</a></li>
                    <li><a href="{% url 'twitter' %}">Twitter</a></li>
                </ul>
                  <h5>Social Media</h5>
                  <ul>
                      <li>
                          <a href="https://twitter.com/dcpacky" target="_blank"><img src="{% static 'img/social/icon_twitter.png' %}" width=50 height=50></a>
                          <a href="https://steamcommunity.com/id/dcpacky/" target="_blank"><img src="{% static 'img/social/icon_steam.png' %}" width=50 height=50></a>
                          <a href="https://gitlab.com/dcpacky" target="_blank"><img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-stacked-rgb.png" width=50 height=50></a>
                          <a href="https://www.twitch.tv/dcpacky" target="_blank"><img src="{% static 'img/social/icon_twitch.png' %}" width=50 height=50></a>
                          <a href="https://www.youtube.com/channel/UCLfJYSdbaEHDsWp_6Hs0ezQ" target="_blank"><img src="{% static 'img/social/icon_youtube.png' %}" width=50 height=50></a>
                          <a href="https://discord.gg/EdBbkDF" target="_blank"><img src="{% static 'img/social/icon_discord.png' %}" width=50 height=50></a>
                      </li>
                  </ul>
              </div>
            </div>
          </div>
            <br/>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Dominik Roth | DcPacky
            <a class="grey-text text-lighten-4 right" href="/about">Legal Notice | Impressum</a>
            </div>
          </div>
        </footer>
    </body>
</html>