{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <h2>Drafts</h2>
        {% for post in posts %}
            <div class="post">
                
                <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
                <p>{% autoescape off %}{{ post.text|truncatechars:200|safe|linebreaksbr }}{% endautoescape %}</p>
            </div>
            <li class="divider blue-grey" tabindex="-1"></li>
        {% endfor %}
    </div>
{% endblock %}