{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <!-- Info Area-->
        {% if messages %}
            <ul class="messages collection">
                {% for message in messages %}
                    <li class="collection-item" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <div class="col s12 m7">
            <h2 class="header">Welcome to the DcPacky.Space</h2>
            <div class="card horizontal" style="z-index:2;">
                <div class="card-image">
                    <img src="{% static 'img/prog.png' %}" style="object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet commodo dolor, volutpat pretium massa.
                        </p>
                        <br/>
                        Some subtext

                    </div>
                    <!--<div class="card-action">
                        <a href="#">This is a link</a>
                    </div>-->
                    <div class="card-action">
                        <a href="https://twitter.com/dcpacky" target="_blank"><img src="{% static 'img/social/icon_twitter.png' %}" width=35 height=35></a>
                        <a href="https://steamcommunity.com/id/dcpacky/" target="_blank"><img src="{% static 'img/social/icon_steam.png' %}" width=35 height=35></a>
                        <a href="https://gitlab.com/dcpacky" target="_blank"><img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-stacked-rgb.png" width=35 height=35></a>
                        <a href="https://www.twitch.tv/dcpacky" target="_blank"><img src="{% static 'img/social/icon_twitch.png' %}" width=35 height=35></a>
                        <a href="https://www.youtube.com/channel/UCLfJYSdbaEHDsWp_6Hs0ezQ" target="_blank"><img src="{% static 'img/social/icon_youtube.png' %}" width=35 height=35></a>
                        <a href="https://discord.gg/EdBbkDF" target="_blank"><img src="{% static 'img/social/icon_discord.png' %}" width=35 height=35></a>
                    </div>
                </div>
            </div>
        </div>
        <li class="divider blue-grey" tabindex="-1"></li>
        <br/>
        <!-- Content-->
        
        <!-- If logged in, allow creation of blog threads-->
        {% if user.is_authenticated %}
            <a style="margin-top:0; padding-top:0;" href="{% url 'post_new' %}" class="top-menu waves-effect waves-light btn">
                <i class="material-icons">add</i><b> New Post</b>
            </a>
            <a style="margin-left:30px; float:right;" href="{% url 'post_draft_list' %}" class="top-menu waves-effect waves-light btn"><b>Drafts </b><i class="material-icons">drafts</i></a>
        {% endif %}
        
        <!-- Materialize collapsible to list all blog threads -->
        <script>
            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
        </script>
        <ul class="collapsible" data-collapsible="accordion">
            {% for post in posts reversed %}
                <li class="hoverable {% if forloop.first %} active {% endif %}">
                    <div class="collapsible-header">
                        <i class="material-icons">{{ post.materialize_icon }}</i>
                        <b>{{ post.title }}</b>
                        <span class="badge">
                            {{ post.published_date }} &nbsp;
                            <a href="{% url 'post_detail' pk=post.pk %}"><span class="badge new hoverable" data-badge-caption="">Open</span></a>
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <span>{% autoescape off %}{{ post.text|safe }}{% endautoescape %}</span>
                    </div>
                </li>          
            {% endfor %}
        </ul>
    </div>
{% endblock %}