{% extends 'blog/base.html' %}

{% block content %}
    <div class="post container">
        <a href="#" onclick="window.history.back();" style="float:left; margin-right:15px;"><i class="material-icons">arrow_back</i></a>
        <h3 style="">{{ post.title }}</h3>
        
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a style="float:right;" class="btn" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a style="float:right; margin-right:10px;" class="btn" href="{% url 'post_remove' pk=post.pk %}"><i class="material-icons">delete</i></a>
        {% endif %}
        <br/>
        <p>{% autoescape off %}{{ post.text|safe }}{% endautoescape %}</p>
        <br/>
        <li class="divider blue-grey" tabindex="-1"></li>
        <p><br/><h4>Comments</h4></p>
        <div>
            <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
            <p><br/></p>
            <ul class="collection">
                {% for comment in post.comments.all %}
                    {% if user.is_authenticated or comment.approved_comment %}
                        <li class="collection-item">
                            <div class="comment">
                                <div class="date">
                                    {{ comment.created_date }}
                                    {% if not comment.approved_comment and user.is_authenticated %}
                                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><i class="material-icons">delete</i></a>
                                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><i class="material-icons">done</i></a>
                                    {% endif %}
                                </div>
                                <br/>
                                <strong>{{ comment.author }} wrote:</strong>
                                <p><br/>{{ comment.text|linebreaks }}</p>
                            </div>
                        </li>
                        <li class="divider blue-grey" tabindex="-1"></li>
                    {% endif %}
                {% empty %}
                    <p>No comments here yet, be the first!</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}