{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2 class="header">Check out my Twitter timeline</h2>
    <p>
        <a href="https://twitter.com/dcpacky?ref_src=twsrc%5Etfw" class="twitter-follow-button center-align" data-show-count="false">Follow @dcpacky</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a href="https://twitter.com/intent/tweet?screen_name=dcpacky&ref_src=twsrc%5Etfw" class="twitter-mention-button center-align" data-show-count="false">Tweet to @dcpacky</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <p>
        <a class="twitter-timeline" href="https://twitter.com/dcpacky?ref_src=twsrc%5Etfw" data-theme="dark" data-chrome="noborders">
            Tweets by dcpacky
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
</div>
{% endblock %}