#nav {
    float:left;
    height: 100%;
}

#head{
    min-height: 15%;
    padding-left: 100px;
    margin-bottom: 60px;
}

#content{
    margin-bottom:25px;
    /*min-height:100vh;*/
    padding-bottom: 25px;
}

.side-nav{
    top:65px;
    margin-top:100px;
    z-index: 998;
}

.nav-wrapper{
    padding-left:325px;
}


header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.collapsible-header {
    border-bottom:0;

}

.collapsible-body {
    border-bottom:0;
    background-color:#3c4049;
}

.collapsible {
    border:0;
}

.container {
    font-size:1.15em;
    color:white;
}

.sidebar-links {
    font-size:1.3em !important;
    font-weight: bold !important;
}

.sidenav  li>a {
    color:#60bae7;
}

.page-footer {
    color: black;
}

.dropdown-content {
    background-color:#272727 !important;
}

.collection {
    border: none !important;
}

.collection-item {
    background-color:#2a2a2a !important;
    font-size:1.0em !important;
    border:none !important;
}

body {
    background-color:#272727;
}

#slide-out, .user-view, nav, .collection-item, .collapsible-header, .collapsible-body, .card-stacked, .messages, .collection {
    background-color:#2a2a2a;
}

.collapsible-header, .collapsible-body {
}

footer, .page-footer {
    background-color:2a2a2a;
}

.header {
    color:#60bae7;
}

#welcome-slider {
    max-height: 100%;
    width: 100%;
    padding-bottom:52%;
}

.sidenav-overlay .sidenav-fixed .sidenav {
    z-index: 999;
}

#nav {
    z-index: 998;
}